*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    background-color: #fff;
    header{
        background-color: #fff;
        width: 100%;
        z-index: 99;
        border-bottom: 1px solid rgb(233, 233, 233);
        height: 75px;
        position: absolute;
        ul{
            display: flex;
            margin: 20px 0px;
            justify-content: center;
            li{
                margin: 0px 7px;
                background-color: rgb(213, 213, 213);
                border-radius: 10px;
                padding: 6px 10px;
                a{
                    color: black;
                    font-size: 15px;
                }
            }
        }
    }
    .restaurants-container{
        position: absolute;
        margin: 73px 0px;
        width: 100%;
        background-color: #fff;
        .restaurants{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: 30px 0px;
            .card{
                background-color: rgb(236, 236, 236);
                margin: 10px 20px;
                width: 230px;
                border-radius: 20px;
                text-align: center;
                border: 1px solid rgb(219, 219, 219);
                line-height: 20px;
                .info{
                    padding: 15px 10px;
                    img{
                        width: 150px;
                        object-fit: cover;
                        height: 150px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}